#btn{
    background-color: rgb(130, 70, 100);
    /* padding: 2px; */
    border-radius: 8px;
    padding-top: 10px;
    padding-left: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    font-family: Verdana;
  font-weight:700;
}
#center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

#wlcm{
    display: inline-block;
  }

  #block{
      display: flex;
    justify-content: center;
    align-items: center;
  }

